<form action="/dictionary/<%=subject.id%>/add" method="POST">
  <div>
    <label for="english">English</label>
    <input
      type="text"
      name="english"
      id="english"
      required
      minlength="1"
      maxlength="500"
    />
  </div>
  <div>
    <label for="polish">Polski</label>
    <input
      type="text"
      name="polish"
      id="polish"
      required
      minlength="1"
      maxlength="500"
    />
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>