html {
    background-color: rgb(0, 86, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: rgb(238, 221, 221);
    width: 100rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
li{
    margin: 0.5rem 0;
}